/* container */
.dashboard-container {
    padding: 3rem;
    background-color: #A31621;
    border-radius: 10px;
    max-width: 500px;
    margin: 1rem auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: #FCF7F8 solid 1px;
    transition: 0.5s;
}

.dashboard-container:hover{
    transform: scale(1.1);
}

/* titulo */
.dashboard-title {
    color: #FCF7F8;
    font-size: 30px;
    margin-bottom: 10px;
}

/* lista de dados */
.dashboard-list {
    list-style-type: none;
    padding: 0;
}

/* item da lista */
.dashboard-list-item {
    background-color: #fff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* mensagem quando não há dados */
.dashboard-no-data {
    color: #888;
    font-size: 20px;
}
